{% extends 'shop/basic.html' %}
{% block title %}shop search-{{query}} {% endblock %}


{% block css %}
<style>
    .col-md-3 {
        display: inline-block;
        margin-left: -4px;
    }

    .col-md-3 img {
        width: 286px;
        height: 294px;
    }

    .carousel-indicators [data-bs-target] {
        background-color: blue;
    }

    body .carousel-indicators {
        bottom: 0;
    }

    body .carousel-indicators li {
        background-color: blue;
    }

    body .carousel-control-prev-icon,
    body .carousel-control-next-icon {
        background-color: blue;
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: auto;
        bottom: auto;
        width: 10%;
        margin-top: -250px;
    }

    body .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
</style>
{% endblock %}



{% block body %}

{% if result %}
<div class="container my-4">
    <!-- slideshow starts here  -->
    <h2>search results for '{{query|title}}' </h2>

    {% for products in prod_list %}
    <div class="col-xs-3 col-sm-3 col-md-3  mr-1">
        <div class="card" style="width: 18rem;">
            <img src="/media/{{products.image}}" class="card-img-top" alt="...">
            <!-- {{product.0.product_name}} for 0th item of product  -->
            <div class="card-body">
                <h6 id="namepr{{products.product_id}}" class="card-title">{{products.product_name}}</h6>
                <p class="card-text">{{products.desc|slice:'0:10'}}.....</p>
                <h6>rs.<span id="pricepr{{products.product_id}}">{{products.price}}</span></h6>
                <span class="cart" id="pr{{products.product_id}}"><button class="btn btn-primary addtocart"
                        id="addpr{{products.product_id}}">Add To Cart</button></span>
                <a href="/shop/productview/{{products.product_id}}" class="btn btn-primary">Quick View</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% else %}
<h1 class="text-center">Sorry we couldn't find your search -'{{query|title}}'</h1>
<h4 class="text-center" >Try searching relevent product name or category</h4>
{% endif %}


{% endblock %}

{% block js %}
<script>
   
    // Add items to cart 
    $('.cart').on('click', 'button.addtocart', function () {
        var idstr = this.id.toString().slice(3,);
        let qty = 0;
        let name = document.getElementById('name' + idstr).innerHTML;
        let price = document.getElementById('price' + idstr).innerHTML;
        if (cart[idstr] == undefined) {
            qty = 1;
            cart[idstr] = [name, qty, parseInt(price)];
        }
        else {
            qty = cart[idstr][1] + 1;
            cart[idstr] = [name, qty, parseInt(price)];
        }
        updatecart(cart, idstr);

    })

    // if plus or minus button is clicked , change the cart 
    $('.cart').on('click', 'button.plus', function () {
        var id = this.id.toString().slice(6,);
        cart[id][1] = cart[id][1] + 1;
        document.getElementById('val' + id).innerHTML = cart[id][1];
        updatecart(cart, id);
    })
    $('.cart').on('click', 'button.minus', function () {
        var id = this.id.toString().slice(7,);
        cart[id][1] = Math.max(0, cart[id][1] - 1);
        document.getElementById('val' + id).innerHTML = '' + cart[id][1] + '';
        updatecart(cart, id);
    })


</script>
{% endblock %}